service: <{{proyect.name}}>
useDotenv: true
provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
functions:
  <{{proyect.prod.name}}>:
    handler: handler.lambdaHandler
    name: <{{proyect.prod.name}}>
    events:
      - httpApi: '*'
custom:
  esbuild:
    bundle: true
    minify: true
plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-dotenv-plugin